<div class="editing highlightjs_widget">
  <h4>Code</h4>
  <pre class="highlightjs">
    <code class="nohighlight">
      <%= scrivito_tag(:textarea, widget, :code, data: {editor: "textfield-editor"}, style: "width:100%;height:150px;") %>
    </code>
  </pre>

  <h4>Language</h4>
  <div class="alert alert-info">
    If automatic language detection does not work for you.
    <p>
      Enter <strong>nohighlight</strong> if no highlighting needed.
    </p>
  </div>
  <%= scrivito_tag(:div, widget, :language) %>
</div>