<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-code"></span>
  </div>

  <div class="title">
    Syntac Highlighter
  </div>

  <div class="description">
    Highlight your Source Code.
  </div>
</div>